.box {
    position: relative;
    float: left;
}
.content img {
    width: 200px;
}
/*以上是必须的，但img的宽度可以自行修改。但.box的样式不能改动*/
.content {
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

